django-cors-headers
sentry-sdk
python-dotenv
djangorestframework
markdown
django-filter
drf-yasg
easy-thumbnails
django-celery-results

django-allauth
django-rest-auth
django-cors-headers
django-rest-framework-simplejwt
psycopg2-binary